<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %> - ASCIIGRAM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Use ASCII to share images and videos">
    <meta name="author" content="Aaron Marasco, Brian and Nicole Grinstead.">

    <% settings.cssFiles.forEach(function(f) { %>
      <link href="/css/<%- f %>" rel="stylesheet" />
    <% }); %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Fav and touch icons
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    -->
  </head>

  <body class="no-video<%= settings.development ? " development" : "" %>">

    <div class="container">
      <div class="jumbotron">
        <h1><a href='/'>ASCIIGRAM</a></h1>
        <div class="full-width">Performing Critically Important Work Since 2012.</div>

        <div class='clearfix'>
          <div class='pull-left'>
            <small><a href='/'>Home</a></small>
          </div>
		      <div class='pull-left' style="margin-left:10px;">
            <small><a href='/popular'>Most Popular</a></small>
          </div>
          <div class='pull-right'>
            <small><a href='/about'>About Asciigram</a></small>
          </div>
        </div>
      </div>

      <%- body %>

      <hr>

      <div class="footer">
        <p></p>
      </div>

    </div> <!-- /container -->

    <% if (settings.development) { %>
      <script>
        window.DEVELOPMENT = true;
      </script>
    <% } %>

    <% settings.jsFiles.forEach(function(f) { %>
      <script src='/js/<%- f %>'></script>
    <% }); %>

    <% if (!settings.development) { %>
      <iframe src="http://nodeknockout.com/iframe/comorichweb" frameborder=0 scrolling=no allowtransparency=true width=115 height=25 style="position:absolute; top:10px; right:0;">
      </iframe>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8259845-5']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <% } %>
  </body>
</html>
